
{% extends 'base.html' %}

{% load static %}
{% block page_content %}
 <!-- background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%; -->
  <!-- data-0-top-bottom="background-position: 50% 50px" data-start="background-position: 50% -31px" -->
<section class="section text-center" style="align:center">
{% for product in product_details %}
<div class="" style="background-image:url('{{ product.img_cover.url }}'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;">
<div class="background-overlay" style="background-color: rgba(92,118,141,0.8); ">

  <div class="container">
    <h1 style="padding-top:50px; font-weight: 900; color:#fff">{{product.name}}</h1>
    <hr style="border: 3px solid #fff; width:500px;">
    <p style="padding:50px; color:#fff; font-size:20px">{{product.description}}</p>
    <a href="{{product.brochure.url}}"><button class="btn btn-danger" style="margin-bottom:50px" type="button" name="button">Download Our Brochure</button></a>

  </div>

</div>

</div>
{% endfor %}
</section>
<section class="container ">
  <ul class="nav nav-tabs">
    <li style="padding:10px" class="nav-item">
        <a class="btn btn-info" href="#Overview" class="nav-link active" data-toggle="tab">Overview</a>
    </li>
    <li style="padding:10px" class="nav-item">
        <a class="btn btn-info" href="#How_It_Works" class="nav-link" data-toggle="tab">How It Works</a>
    </li>
    <li style="padding:10px" class="nav-item">
        <a class="btn btn-info" href="#Pricing_Details" class="nav-link" data-toggle="tab">Pricing Details</a>
    </li>
    <li style="padding:10px" class="nav-item">
        <a class="btn btn-info" href="#Specification" class="nav-link" data-toggle="tab">Specification</a>
    </li>
    <li style="padding:10px" class="nav-item">
        <a class="btn btn-info" href="#Clients_Overview" class="nav-link" data-toggle="tab">Clients Overview</a>
    </li>
    <li class="nav-item" style="padding:10px">
        <a class="btn btn-info" href="#FAQ" class="nav-link" data-toggle="tab">FAQ</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="Overview">
      <section class="about-lists">
        <div class="container">

          <div class="row no-gutters">

            <div style="text-align:center" class="col-lg-3 col-md-6 content-item" data-aos="fade-up">
              <h2>Sensores</h2>
              <br>
              <img style="width:100%" src="{% static 'assets/images/sensometer/intre.JPG' %}" alt="">
            </div>

            <div style="text-align:center" class="col-lg-6 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
              <h2>Software</h2>
              <br>
              <img style="width:100%" src="{% static 'assets/images/sensometer/this-one-600x500.jpg' %}" alt="">

            </div>

            <div style="text-align:center" class="col-lg-3 col-md-6 content-item" data-aos="fade-up">
              <h2>Feature</h2>
              <br>
              <img style="width:100%" src="{% static 'assets/images/sensometer/intre.JPG' %}" alt="">
            </div>


            <div class="col-lg-12 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
              <p>Sensometer sends sensor data periodically to the cloud where it can be accessed via a website and a mobile app. This website consists of statistical data which is arranged in an easy to use dashboard. Reports can be generated here as well as historical data can be seen which would be beneficial for the end user. Our device is most utilized in storages , where perishable goods are stored, grain silo, any cold storage environments e.g. Frozen food and meat processing factory, Warehouse Freezers, Cold Storage Trucks, Leather storage, Beverage factory, Tobacco factory, Paper mills or any premises that has relation with the environment.


Optional features include the GPS which can be used in storage vehicles. The Door Trigger alert notifies the user how long the door of the storage has been open and if opted for push notification, sends a message to the user about the current condition of the storage. The reports generated reflect the conditions of the storage while the door was open.
Push Notification alerts can be modified to send messages when for example, user has set a minimum limit for any parameter and the device detects that the threshold has been crossed.

Another key feature of our device is remote compressor control. Where a user can remotely turn on and off the compressor around the world. User can calculate the total electricity consumption of the whole industry which in turn can help the user ensure efficient use of electricity. Data is always synchronized with the server with proper security. Data Storage is dependant upon the package chosen. Further details regarding package can be learnt from the provided hotline number.</p>

            </div>

          </div>

        </div>
      </section><!-- End About Lists Section -->


    </div>
    <div class="tab-pane fade" id="How_It_Works">
      <section class="about-lists">
        <div class="container">

          <div class="row no-gutters">

            <div class="col-lg-12 col-md-6 content-item" data-aos="fade-up">
              <img style="width:100%" src="{% static 'assets/images/sensometer/csm-diagram-1024x411.png' %}" alt="">
            </div>

            <div class="col-lg-12 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
              <p>Your warehouse is fully under supervision with our device sensometer. Sensometer is a monitoring and controlling device that will automate your industrial monitoring process. With our device you can real time monitor the environmental parameters of the storage room. Alongside this you can know the door of the cold storage is opened or closed (for how many times/duration).
With our device you can control the compressor of the chiller room with remote starting and closing feature, You can also know the total running hours and electricity consumption of individual compressors. All this data is secured in our cloud server. From where you can see desired reports and monitor in real time around
 the world. We have a separate web application and an interactive mobile app for this purpose.</p>

            </div>

          </div>

        </div>
      </section><!-- End About Lists Section -->
    </div>
    <div class="tab-pane fade" id="Pricing_Details">
        <p>Messages tab content ...</p>
    </div>
    <div class="tab-pane fade show" id="Specification">
        <p>Home tab content ...</p>
    </div>
    <div class="tab-pane fade" id="Clients_Overview">
        <p>Profile tab content ...</p>
    </div>
    <div class="tab-pane fade" id="FAQ">
      <!-- {% for faq in faqs %}
      <button class="btn btn-primary col-lg-12" style="margin-bottom:0px; text-align:left" data-toggle="collapse" data-target="#demo{{faq.pk}}">{{faq.question}}</button>

      <div style="background-color:red"  id="demo{{faq.pk}}" class="collapse">
        <p style="margin-left:10px; color:white">{{faq.answer}}</p>
      </div>
      {% endfor %}
      <br>
     -->

<div id="accordion">
  {% for faq in faqs %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-secondary" data-toggle="collapse" data-target="#collapse{{faq.pk}}" aria-controls="collapseOne">
          {{faq.question}}
        </button>
      </h5>
    </div>

    <div id="collapse{{faq.pk}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      {{faq.answer}}
      </div>
    </div>
  </div>
  {% endfor %}

</div>

    </div>

</div>

</section>

{% endblock page_content %}
